.learning {
    padding: 170px 0;
    @media (max-width: $w1100) {
        padding: 60px 0;
    }
    @media (max-width: $w600) {
        padding: 30px 0;
    }
    position: relative;

    .wrapper {
        position: relative;
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__left-1050 {
        display: none;
        @media (max-width: $w1100) {
            display: block;
            max-width: 450px;
        }
    }
    &__left {
        position: absolute;
        right: 700px;
        bottom: 15%;
        max-width: 600px;
        @media (max-width: 1600px) {
            right: 700px;
            max-width: 550px;
            bottom: 23%;
        }

        @media (max-width: 1400px) {
            right: 650px;
            max-width: 500px;
            bottom: 24%;
        }

        @media (max-width: 1200px) {
            right: 650px;
            max-width: 450px;
            bottom: 25%;
        }
        @media (max-width: $w1100) {
            display: none;
        }
    }
    &__right {
        max-width: 600px;
        margin: 170px 0;
        margin-left: auto;
        @media (max-width: $w1100) {
            margin: 60px 0;
            align-self: flex-start;
        }
    }
    &__descr {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    &__btn {
        padding: 15px 30px;
    }
}
